*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
   }
   body{
       background-color:darkslategray;
       font-family: 'Nunito Sans', sans-serif;
   }
   /* banner css */
  
    #logo{
      color:#219ebc;
      font-size: 40px;
  }
  .flower-logo{
      margin-top:10px;
      margin-left: 10px;
      border-radius: 15px;
  }
   nav{
       background-color: black;
   }
   nav ul{
       list-style: none;
       
   }
   nav ul li{
       display: inline-block;
       padding: 20px;
       
      
   }
   nav ul li a{
       font-size: 25px;
       color:white;
       text-decoration: none;
      
   }
   nav ul li a:hover{
      
       color:yellow;
       transition: ease .7s;
   }
   .first-container{
    height: 600px; 
   }

   .first-container h1{
    color:yellow;
    
    font-size: 50px;
    text-align: center;
}
   .our-product{
       height: 75px;
       width: 300px;
       border:1px solid black;
       margin: auto;
      
       
      background-color: seashell;
       color:red;
       border-radius: 5px;
   }
  .our-product h1{
       text-align: center;
       font-size:30px;
       padding:30;
      margin:10px;
       color:red;
       

   }
   .hero-pic{
      
   }
   .second-container{
     margin-left: 25px; 
     margin-top:10px;
   }
   .first-card{
       display: inline-block;
       height: 405px;
       width: 300px;
       margin: 10px;
       background-color:silver;
       border-radius: 10px;;
   }
   
   
   .card-image{
       height: 300px;
       width:290px;
      text-align: center;
     margin:10px 10px 0 7px;
      border-radius: 15px;
     
   }
   .card-image :hover {
       
   }
   .tag-text{
       color: black;
       text-align: center;
       font-size: 25px;
   }
   .first-card button{
       margin-left: 40%;
       background-color: turquoise;
       padding: 5px;
       border-radius: 30px;

   }
   /* second container css ends here */
   
   /* third container stars hee */
   .third-container{
       margin: 10px 0 40px 0;
       background-color:darkslategray;
       margin-bottom: 20px;
       height: 550px;
       
   }
   .occasion-div{
       height: 500px;
       width: 60%;
       background-color:lightgray;
       float: left;
       text-align: center;
       margin-bottom: 10px;
      
   }
   .occasion-div h1{
       text-align: center;
       margin:20px;
       color:red;
   }
   .occation-button{
      padding:20px;
      display: inline-block;
      height:50px;
      width:200px;
      padding:10px;
      background-color: lightsalmon;
     

   }
   .sale-event{
       height: 500px;
       width: 40%;
       background-color:#800000;
       float:left;
       margin-bottom: 10px;
   }
   .sale-event h1, h2{
       text-align: center;
       
       color:yellow;
   }
   .sale-event p{
       color:red;
       font-size: 30px;
       text-align: center;
   }
    .valentine-image{
      text-align:center;
   }
   span{
       text-decoration: line-through;  
   }
   
      
   
   /* footer css start here */
   footer{
       background-color: black;
       
       
   }
  
   .footer-container{
     

     
   }
   .fa{
       padding: 5px;
      font-size: 15px;
      display: block;
      text-decoration: none;
      color:lightskyblue;
      
   }
   .fa:hover{
       color:darkblue;
   }
      
   
  
       

   .footer-col{
       display: inline-block;
       width:33%;
       padding: 10px;

   }
   .footer-nav{
       text-decoration: none;
       color: white;
       
       
   }
   .copy-right{
       color:white;
       text-align: center;
       padding:10px;
   }
   hr{
       margin:0 20px 0 20px;
   }

</style>